<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/login" method="POST" class="bg-white shodow-md rounded px-8 pb-8 mb-4">
            <% if(messages.error) { %>
                <span class="text-red-500 text-sm"><%= messages.error %></span>
            <% } %>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                <input name="email" type="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" placeholder="Enter your Email">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input name="password" type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" placeholder="***********">
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="btn-primary px-4 py-2 rounded-full text-white focus:outline-none focus:shadow-outline">Log In</button>
                <a href="/register" class="inline-block align-baseline font-bold text-sm">Don't have account?</a>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">&copy:2020 MK Corp. All rights reserved.</p>
    </div>
</section>